:root{ 
    --pink:#ff1616;
    background-color: #131212;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:rgb(220, 225, 220);
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#222121;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    float: left;
    padding: 5px;
    margin: 5px;
    font-size: 3rem;
    color:#888b82;
    font-weight: bolder;
  }
  header .logo img{
    width: 9rem;
    height: 9rem;
    position: absolute;
    margin-top: -2.50rem;
    margin-left: 0rem;
  }
  
  header .logo span{
    color:white;
    margin-left: 10rem;
  }

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#f1ebeb;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#e7e9e7;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(245, 241, 241, 0.3);

    display: none;
}



.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/b1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}
.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width: 50%;
    margin-left: 30rem;
}

.home .content h3{
    font-size: 5rem;
    color:rgb(255, 255, 255);
    transform: rotateZ('180deg');
    padding-right: -5%;
    padding-top: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5rem;
    
}

.home .content span{
    font-size: 2.50rem;
    color:#ff2a27;
    padding:1rem 0;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:transparent;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}
/* home end*/




/* new card*/

.services{
    background-color: #131212;
}
.services .container{
    display: flex;
    flex-wrap: wrap;
    gap:5.5rem;
    
}

.services .container .cta{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position:relative;    
}


.cta-background {
    background-size: cover;
    background-position: center center;
    bottom: 0;
    filter: blur(50px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .cta {
    background: #333;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 300px;
  }
  .cta:hover img {
    top: -10%;
    filter: brightness(70%);
  }
  .cta:hover .text {
    bottom: 0;
  }
  .cta img {
    bottom: 0;
    filter: brightness(100%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 115%;
  }
  .cta .text {
    bottom: -40%;
    padding: 15px;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  .cta .text h2 {
    color: #fff;
    display: inline-block;
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 5px;
    position: relative;
  }
  .cta .text p {
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
  }
  .cta .read-more {
    font-size: 1.5rem;
    color: #05f8dc;
  }

  /*new card end*/
  

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container img{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#f7f1f1;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#fbf1f1;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.icons-container .icons{
    background:#100f0f;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#f6f2f2;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#f6f2f2;
    font-size: 1.3rem;
}




.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem #dfa1951a;
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    background-color: #d7d3d3;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#343333;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:9rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 80%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
    background-color: #333;
    padding : 5rem;
    
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#d7d3d3;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#d7d3d3;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#d7d3d3;
    border-top: .3rem solid rgba(0,0,0,.1);
    padding-bottom: -2rem;
}

.footer .credit span{
    color:var(--pink);
}

.whatsup_float {
    position: fixed;
    bottom: 40px;
    right: 20px;
}
.whatsup_float:hover {
  
  transform: scale(1.3);

}
.instagram_float {
    position: fixed;
    bottom: 100px;
    right: 20px;
}
.instagram_float:hover {
  
    transform: scale(1.3);
}












/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
        margin-left: 40rem;
    }
    header .logo img{
        margin-left: -45rem;
    }
    header .logo span{
        margin-left: -35rem;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#121212;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#131212;
        border:.1rem solid rgba(17, 17, 17, 0.834);
        display: block;
    }
    .home .image{
        display: flex;
    }


    .home .image img{
        width: 80%;
        margin-left: 8rem;
    }
   

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }

    .services{
        margin-bottom: 100rem;
    }


    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}

